*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFEED9;
}
body{
    text-align: center;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #B46A4E;
    padding: 2em 0 2em;
    font-size: 1.5em;
}
.rounds {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:  #496871;
    font-weight: 600;
    font-size: 1.3em;
}

.main {
    margin: 2.5em 0 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
}

img {
    width: 40%;
    /* display: none; */
}
.comp , .user {
    display: grid;

}
.comp {
    justify-items: end;
}
.user{
    justify-items: start;
}
.comp img{
    transform: rotate(-20deg);
    transition: all 0.3s ease-in-out;
}
.user img {
    transform: rotate(20deg);
    transition: all 0.3s ease-in-out;
}
.triggerAnimation {
    animation: shake 0.2s linear 0s infinite alternate;
}
p {
    padding: 1em 6em;
}

.status {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #003f7d;
    font-size: 2.5em;
    font-weight: bold;
}

.inputDiv:nth-child(1) {
    width: 100%;
}

.inputDiv button {
    width: 15%;
    border: none;
}


.inputDiv button img {
    transition: all 0.2s ease-in-out;
}
.inputDiv button img:hover {
    transform: scale(1.2);
    cursor: pointer;
}


@keyframes shake {
    0% {
        transform:  translateY(10);
    }
    50% {
        transform:  translateY(-10);
    }
    100% {
        transform: translateY(0);
    }
}